body{
    background-color:steelblue;
}
#image{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;

}
p{
    text-overflow: ellipsis;


}
img{
    border-radius: 60%;
    width: 300px;
    height: 200px;

}
.paragraph{
    font-size: 50px;
    
}
button{
    color: orange;
    text-decoration-color:orangered;
    border-radius: 5px;
    border-color: orangered;
    align-self: center;
    margin-left: 350px;
}
